html {
  overflow-y: scroll;
}

body {
  font-family: Mingzat, Georgia, "Times New Roman", Times, serif;
  background: url("../petCalc/img/chimera.png");
  background-position: 49vw 22vh;
  text-shadow: 4px 4px 8px #000;
  background-repeat: no-repeat;
  background-color: #242333;
  background-size: 50vw;
  padding-bottom: 100px;
  font-size: 1.05em;
  margin-left: 5%;
  color: #F3F7F0;
  padding: 0;
}

.color-1 {
  color: #EEB34B;
}

.bg-color-2 {
  background-color: #23F788;
}

.color-3 {
  color: #0241AD;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.margin-left {
  margin-left: 10vw;
}

.sm-margin-left {
  margin-left: 2vw;
}

.sm-margin-top {
  margin-top: 2vh;
}

.hidden {
  display: none;
}

.clear::after {
  visibility: hidden;
  display: block;
  line-height: 0;
  content: ".";
  clear: both;
  height: 0;
}

.clear {
  display: block;
  clear: both;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.imgholder {
  border: 1px solid #D6D6D6;
  text-align: center;
  padding: 4px;
}

.width-limit40 {
  max-width: 40vw;
}

.larger-font {
  font-size: 1.2em;
}

.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

img {
  vertical-align: middle;
  line-height: normal;
  max-width: 100%;
  height: auto;
  border: none;
  width: auto;
  padding: 0;
  margin: 0;
}

.title {
  padding: 1% 1% 0% 1%;
  position: relative;
  font-size: 1.6em;
  max-width: 75vw;
  left: 13vw;
  top: -1%;
}

.main-content {
  margin: 0% 2%;
}

.results-container {
  position: relative;
}

details {
  position: absolute;
  right: 5%;
  top: 18%;
}

summary {
  list-style-type: none;
}

.notes {
  font-size: 0.9em;
}

b {
  font-size: 1em;
}

.pill-text-container {
  max-width: 13vw;
  display: inline;
  font-size: 1em;
  margin: 0 3%;
}

.pill-text {
  color: rgba(208, 85, 79, 0.845);
  margin-right: 2%;
}

input[type=number] {
  background-color: rgba(190, 199, 122, 0.753);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.1em;
  text-align: end;
  height: 1.4em;
  width: 40%;
}

.notice-container {
  background-color: rgba(15, 29, 50, 0.845);
  position: relative;
  line-height: 135%;
  border-radius: 2%;
  max-width: 40vw;
  margin: 6vw 3vw;
}

li {
  list-style-type: none;
}

.info {
  border: 2px solid rgba(0, 0, 0, 0.397);
  max-height: 24px;
  max-width: 24px;
  cursor: pointer;
  margin: 0 2px;
  height: 24px;
  width: 24px;
}

details[open] {
  border: 2px solid rgba(122, 227, 150, 0.845);
  background-color: rgba(79, 107, 208, 0.845);
  max-width: max-content;
  padding: 0 10px;
}


#expNeededText {
  font-size: 1em;
}

.hiddenbr {
  display: none;
}

@media only screen and (max-width: 750px) {
  .hiddenbr {
    display: initial;
  }

  .notice-container {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 400px) {
  details {
    position: unset;
    display: unset;
  }
}