* {
        text-shadow: -4px -3px 7px #ffffff, 3px 3px 10px #ffffff, 2px -4px 10px #fff;
}

.thumbnail > img {
    width: 400px;
    min-width: 400px;
    height: 240px;
    min-height: 240px;
    z-index: 1;
    margin-left: 4vw;
}

.imagehover:hover {
    width: 420px;
    height: 240px;
    -o-transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    transition: .4s ease;
}

#frontpageimg {
    width: 90vw;
    height: 58vh;
    margin-left: -2vw;
    z-index: -1;
    position: relative;
    border:2px solid black;
}

.main {
    margin-left: 6vw;
    padding-top: 3vh;
}
.sidenotes {
    margin-right: 2%;
    margin-left: 14%;
    font-size: 0.87em;
    border: 2px solid tan;
}
aside {
    margin-bottom: -20%;
    padding: 2px;;
}

@media only screen and (max-width: 770px) {   
aside {
display: none;
}
#frontpageimg {
    height: fit-content;
}
}