@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

#navcall {
    position: absolute;
    width: 100vw;
    overflow: none;
    ;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

body {
    background: #F6F8FC;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-x: -180px;
    background-position-y: -80px;
    width: 100%;
}


h1,
h2,
h3,
h4 {
    color: #011030;
    margin: 5px;
    text-align: center;
}

h4 {
    margin-top: 15px;
}

span {
    color: #8F9396;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-18 {
    font-size: 18px !important;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-100 {
    width: 100%;
}

.container {
    border-radius: 20px;
    box-shadow: #EDEDED 0 10px 10px;
    padding: 15px;
    background-color: white;
}

input {
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1
}

.margin-5 {
    margin: 5px;
}

.hide {
    display: none !important;
}

.bold {
    font-weight: bold;
}

.type-container {
    border-radius: 5px;
    padding: 3px 7px;
    color: black;
    margin: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
}

.loading-ball {
    height: 60px;
    filter: brightness(80%);
    animation: rotatePokeBall ease-in-out 3s infinite;
}

@keyframes rotatePokeBall {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*List Container*/
#cookbook-list {
    margin-left: 50px;
    width: 45%;
}

/*Search*/
#search-bar-container {
    margin-top: 7vh;
    margin-bottom: 30px;
    border-bottom: 9px solid green;
    border-right: 7px solid lightgreen;
    border-top: 5px solid teal;
    border-left: 3px dashed orange;
    max-width: 60vw;
}

#start-search-button {
    background-color: #FF5350;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
    color: white;
    font-size: 16px;
}

#start-search-button:hover {
    opacity: 0.8;
    box-shadow: #ff53509c 3px 3px 13px;
}

/*Render search results*/
#cookbook-list-render-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
.filters-wrapper {
    margin-top: 5%;
    margin-left: 2%;
}

.filter {
    margin: 10px;
}

.recipeName {
    font-size: 12px;
    font-style: bold;
    text-align: center;
}

.recipe-render-result-container {
    flex: 50px;
    min-width: 7%;
    max-height: 4vh;
    margin: 7px;
    margin-top: 20px;
    padding-top: 70px;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    transition-duration: 100ms;
}

.recipe-render-result-container:hover {
    border: 2px solid #e0e0e0;
}

.recipe-render-result-container:hover .search-recipe-image {
    transform: scale(1.15);
}

.search-recipe-image {
    position: absolute;
    top: -30px;
    image-rendering: optimizeSpeed;
    transition-duration: 100ms;
    height: 90%;
}

#current-recipe-container {
    width: 28vw;
    height: 17vh;
    position: fixed;
    right: calc(0vw - 13px);
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid #e0e0e0;
}

#current-recipe-container:hover {
    animation-name: hover;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    animation-play-state: paused;

}

@keyframes hover {
    0% {
        height: 17vh;
    }

    50% {
        border: 2px dashed rgba(0, 255, 238, 0.723);
    }

    100% {
        height: 65vh;
        border: 8px solid rgba(0, 0, 255, 0.723);
    }
}

#current-recipe-container:active,
#current-recipe-container:focus,
#current-recipe-container:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#current-recipe-info {
    margin-top: 6vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

#current-recipe-info::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

#current-recipe-image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 77vh;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
    image-rendering: pixelated;
    max-width: 350px;
    max-height: 22vh;
}

.recipe-info-variable-container {
    width: 100%;
    background-color: #F6F8FC;
    padding: 8px 0;
    border-radius: 30px;
    margin: 5px;
}

.current-recipe-stats-container {
    background: #F6F8FC;
    display: flex;
    padding: 5px;
    border-radius: 30px;
    margin: 5px;
}

.current-recipe-stats-container h5 {
    margin: 6px 0;
}

.current-recipe-stats-name {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

/*Animations*/

.slide-out {
    animation: slideOut ease-in-out 0.35s;
    animation-fill-mode: forwards;
}

@keyframes slideOut {
    0% {
        right: calc(10vw - 20px)
    }

    100% {
        right: -400px
    }
}

.slide-in {
    animation: slideIn ease-in-out 0.35s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        right: -400px
    }

    100% {
        right: calc(10vw - 20px)
    }
}

/*Responsive*/

#current-recipe-responsive-background {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: none;
    transition: 0.35s;
}

#current-recipe-responsive-close {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #F6F8FC;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    display: none;
    height: 22px;
    transition: 0.35s;
}

#current-recipe-responsive-close:hover {
    opacity: 0.5;
}

@media(max-width: 1100px) {
    #cookbook-list {
        margin: 0;
    }

    .recipe-render-result-container {
        min-width: 25%;
        margin-right: 8px;
        margin-left: 8px;
    }

    body {
        padding: 0 5vw;
    }

    #current-recipe-container {
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        width: calc(100% - 30px);
        display: none;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    #current-recipe-responsive-close {
        display: unset;
    }

    #current-recipe-responsive-background {
        display: unset;
    }

    #current-recipe-loading {
        display: none;
    }

    @keyframes slideOut {
        0% {
            bottom: 0
        }

        100% {
            bottom: -100vh
        }
    }

    @keyframes slideIn {
        0% {
            bottom: -100vh
        }

        100% {
            bottom: 0
        }
    }
}

@media(min-width: 1100px) {
    #current-recipe-container {
        display: flex !important;
    }
}

@media(max-width: 380px) {
    .recipe-render-result-container {
        flex: unset;
        width: 100%;
    }

    body {
        width: 90%;
    }

    #search-bar-container {
        margin: 40px 0;
    }
}