* {
    text-shadow: -4px -3px 7px #ffffff, 3px 3px 10px #ffffff, 2px -4px 10px #fff;
}

h1, h2, h3, h4 {
    color: black;
}
.thumbnail > img {
    width: 400px;
    z-index: 1;
    padding-right: 540px;    
}

.imagehover:hover {
    width: 440px;
    height: 260px;
    border: 9px solid rgba(106, 157, 106, 0.573);
    
}
    segment {
    display: flex;
}

h1 {
    font-size: 48px;
}

main {
    border-left: 15px solid rgb(48, 48, 60);
    border-right: 15px solid rgb(48, 48, 60);
    border-bottom: 15px solid rgb(48, 48, 60);
}

segment > * {
    width: calc(100% / 2);
    padding: 1rem;
}

#frontpageimg {
    width: 80vw;
    z-index: 0;
    margin-top: 5%;
    border: 2px solid black;
}

.main {
    z-index: -2;
    margin-left: 2.2vw;
    line-height: 90%;
    line-height: 90%;
}
.sidenotes {
    position: absolute;
    font-size: 0.87em;
    border: 2px solid rgb(27, 27, 27);
    top: 78vh;
    max-width: 27vw;
    padding: 6px;
    background-color:rgba(106, 157, 128, 0.573);
    line-height: 190%;
}
    
article::first-line {
text-indent: 4vw;
}

article {
    padding-top: 25vh;
    padding-right: 4%;
    line-height: 125%;
}