* {
        text-shadow: -4px -3px 7px #ffffff, 3px 3px 10px #ffffff, 2px -4px 10px #fff;
}

.thumbnail > img {
    width: 400px;
    z-index: 1;
    margin-left: 4vw;
}

.imagehover:hover {
    width: 420px;
    height: 240px;
    -o-transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    transition: .4s ease;
}

#frontpageimg {
    width: 90vw;
    z-index: 0;
    position: relative;
    border:2px solid black;
}

.main {
    background-color:  #f0efddb0;
    z-index: -2;
    margin-left: 4vw;
    padding: 3vh;
}
.sidenotes {
    margin-right: 2%;
    margin-top: 18%;
    margin-left: 14%;
    font-size: 0.87em;
    border: 2px solid tan;
}

article {
    margin-left: 15px;
}
article::first-line {
text-indent: 4vw;
}

.separator {
    position: absolute;
    background-position-y: 0;
    min-width: 110vw;
    background-color: rgba(191, 247, 191, 0.224);
}