#topbar {
    background:linear-gradient(13deg, #d0eae9, #cdefee, #d3edf5, #ffffff);
    padding-bottom: 2px;
}

#topbar p {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding-left: 4%;
    font-size: 0.8em;
width: 50%;
    background: linear-gradient(135deg, #ffffff, #d9f1d6);
}
.tipscontainer {
    display: flex;
    flex-direction: column;
    padding-left: 2.3vw;
}

.tip {
    max-width: fit-content;
    border-right: unset;
    border-left: unset;
    padding-top: 5px;
    margin-left: 2vw;
}
.enlarged {
    position: absolute;
    width: 80vw;
    height: auto;
}
img {
    max-width: 40vw;
    max-height: 27vh; 
}
summary {
    font-size: 1.2em;
}

summary + p, br + p {
    text-indent: 2vw;
}
* {
    overflow: unset;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
display: none;
}

details > summary::before {
    content: url('/ChimeraTools/images/expand.png');
height: 14px;
}

details[open] > summary::before {
    content: url('/ChimeraTools/images/collapse.png');
    max-height: 14px;
}

details {
    border: 1px solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

h2 {
    padding-left: 2%;
}

#expand {
margin-top: 2%;
margin-left: 33vw;
width: 10vw;
position: fixed;
}

@media screen and (max-width: 700px) {
    h2 {
        display: none;
    }
    #expand {
        left: 50vw;
        top: 10vh;
    }
}